@media screen and (max-width: 450px) {
	#articlesearch {
		width: 110px;
	}
}

.eacharticlecontainer {
	padding-left: 2em;
	padding-right: 2em;
}

.eacharticletitle {
	cursor: pointer;
	max-height: 5.35em;
	overflow: hidden;
}

.eacharticletitle h2 {
	font-size: 1.65em;
	line-height: 1.65em;
}

.eacharticletitle a {
	color: black;
}

.eacharticletitle:hover a {
	color: #175199;
}

.eacharticlebody {
	margin-top: 1em !important;
}

.eacharticlecontent {
	max-height: 9.5em;
	overflow: hidden;
}

.eacharticlecontent p {
	word-break: break-word;
	white-space: normal;
	overflow-y: hidden;
	line-height: 1.23em;
	font-size: 1.23em;
	height: 100%;
}

.eacharticlecontent a {
	color: black;
	cursor: pointer;
}

.eacharticlecontent a:hover {
	color: #646464;
}

.eacharticleimg {
	text-align: center;
}

.eacharticleimg img {
	height: auto;
	width: auto;
	border-radius: 4px;
	max-width: 100%;
	max-height: 9.5em;
}

.eacharticlebottom {
	margin-top: 1em;
	line-height: 3em;
}

.eacharticleheadphoto {
	display: inline-block;
	background-image: url(../image/default_headphoto.png);
	background-size: 110% 110%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1.5px solid rgba(0,0,0,0);
	border-radius: 100%;
	height: 2.5em;
	width: 2.5em;
	vertical-align: middle;
	cursor: pointer;
}

.eacharticleauthorname {
	font-size: 1em;
	line-height: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5em;
	cursor: pointer;
}

.eacharticleauthorname:hover {
	color: royalblue !important;
}

.hiddenMoreThan540 {
	display: none;
}

@media screen and (max-width:540px) {
	.hiddenMoreThan540 {
		display: block;
	}
	
	.eacharticlebottom {
		margin-bottom: 3.5em;
	}
	
	.eacharticleinfo {
		float: left !important;
	}
}

@media screen and (max-width:400px) {
	.eacharticleinfo span {
		font-size: 0.9em !important;
	}
	
	#searchbox {
		display: none;
	}
}

@media screen and (max-width:335px) {
	.eacharticleinfo span {
		font-size: 0.7em !important;
	}
}

.eacharticleinfo {
	display: inline-block;
	vertical-align: middle;
	float: right;
}

.eacharticleinfo span {
	font-size: 1em;
	line-height: 1em;
	vertical-align: middle;
	margin-right: 1em;
}

.eacharticleinfo span {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

.eacharticleinfo span:hover {
	color: #175199;
}

#articletemplate {
	display: none;
}

.pageSelector {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.hiddenLessThan768 {
		display: none !important;
	}
}

.emptyResult {
	height: 8em;
	width: 100%;
	text-align: center;
	display: none;
}

.emptyImg {
	text-align: center;
	height: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.emptyImg img {
	height: 100%;
	width: auto;
	filter: invert(40%);
}

.emptyWord {
	text-align: center;
	color: gray;
}