.aboutAuthorTitle,.authorBasicInfo,.authorStatistics,.authorActions {
	padding: 1em 1em 1em 1em;
}

.authorBasicInfo {
	line-height: 6em;
	text-align: center;
}

.authorBasicInfo img {
	display: inline-block;
	height: 5em;
	width: 5em;
	vertical-align: middle;
	border-radius: 8px;
}

.authorNameAndMotto {
	margin-left: 0.5em;
	display: inline-block;
	width: calc(100% - 6.5em);
	vertical-align: middle;
}

.authorNameAndMotto .authorName {
	cursor: pointer;
}

.authorNameAndMotto .authorName:hover {
	color: royalblue !important;
}

.authorName {
	font-weight: 800;
	font-size: 1.5em;
	margin-bottom: 0;
}

.authorMotto {
	font-size: 1em;
	color: gray;
}

.authorStatistic {
	display: inline-block;
	width: calc(33% - 0.1em);
	text-align: center;
}

.authorStatistics h4 {
	color: gray;
}

.authorStatistics span {
	font-weight: 700;
	letter-spacing: 0.1em;
}

.authorActions {
	text-align: center;
}

.authorActions button {
	margin: 0.5em 1em !important;
}

#mobiletop {
	line-height: 3em;
} 

.mobile_authorHeadPhoto,.mobile_authorBasicInfo,.mobile_authorFollowTA {
	display: inline-block;
}

.mobile_authorHeadPhoto {
	vertical-align: middle;
	width: 15%;
	text-align: center;
	cursor: pointer;
}

.mobile_authorBasicInfo {
	vertical-align: middle;
	width: 58%;
}

.mobile_authorFollowTA {
	vertical-align: middle;
	width: 25%;
	text-align: right;
}

.mobile_authorFollowTA button {
	font-size: 0.8em !important;
	padding: 0.8em 0.8em !important;
}

.mobile_authorHeadPhoto img {
	display: inline-block;
	vertical-align: middle;
	height: 3em;
	width: 3em;
	border-radius: 100% 100%;
}

.mobile_authorBasicInfo p {
	width: 90%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.lastUpdateTime,.submitTime,.browseCount {
	color: gray;
}

@media screen and (max-width: 767px) {
	.articleTitle {
		margin-top: -2em;
	}
}

#mainContent * {
	max-width: 100%;
}

#mainContent pre {
	overflow-x: auto;
}

#mainContent img {
	border-radius: 5px;
}

.articleActions {
	line-height: 4em;
}

.articleActions {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.articleActions div {
	display: inline-block;
	vertical-align: middle;
}

.collectionAndComment {
	float: right;
}

@media screen and (max-width: 1000px) {
	.actionIcons {
		font-size: 1.2em !important;
		margin-left: 0.5em !important;
	}
}

@media screen and (max-width: 500px) {
	.actionIcons {
		font-size: 0.8em !important;
		margin-left: 0.5em !important;
	}
	
	.like_count {
		padding-left: 0.4em;
		padding-right: 0.1em;
	}
	
	.like_outer {
		line-height: 0.8em !important;
		height: 2.05em !important;
	}
	
	.like  {
		font-size: 0.8em !important;
	}
	
	.dislike {
		font-size: 0.8em !important;
	}
}

@media screen and (max-width: 354px) {
	.actionIcons {
		font-size: 0.7em !important;
		margin-left: 0.3em !important;
	}
	
	.like_count {
		padding-left: 0.4em;
		padding-right: 0.1em;
	}
	
	.like_outer {
		line-height: 0.7em !important;
		height: 1.75em !important;
	}
	
	.like  {
		font-size: 0.7em !important;
	}
	
	.dislike {
		font-size: 0.7em !important;
	}
}



.actionIcons {
	color: gray;
	font-size: 1.5em;
	margin-left: 1.5em;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

.actionIcons:hover {
	color: #b6b6b6;
}

.fixedActions {
	position: fixed !important;
	background-color: white;
	bottom: 0px;
	margin-bottom: 0 !important;
	height: 4em;
	padding-top: 0.2em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.authorHeadPhoto {
	cursor: pointer;
}

.commentInputTextarea {
	margin-top: 2em;
}

.commentInputTextarea .commentWelcomeTitle {
	font-size: 1.5em !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

.commentInputTextarea .howManyCanInput {
	display: inline-block !important;
	color: gray !important;
	font-weight: 500 !important;
	font-size: 1em !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

.commentSubmit {
	display: inline-block;
	float: right;
	margin-top: 0.5em !important;
}

.noCommentEmptyImg,.noCommentWord {
	text-align: center;
}

.noCommentEmptyImg img {
	filter: invert(40%);
	height: 5em;
	width: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.noCommentWord {
	color: gray;
	margin-bottom: 2em;
}

.moreCommentDiv {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.clickToShowAllComments {
	display: inline-block;
	color: #28AFEA !important;
	cursor: pointer !important;
}

.clickToShowAllComments:hover {
	color: royalblue !important;
}

.commentsHeader {
	height: 3em;
	line-height: 3em;
}

.commentatorHeadphoto {
	display: inline-block;
	vertical-align: middle;
	height: 3em;
	width: 3em;
	border-radius: 100%;
	cursor: pointer;
}

.commentatorNickname {
	margin-left: 1em;
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 800;
	font-family: Lotus;
	font-size: 1.2em;
	cursor: pointer;
}

.commentatorNickname:hover {
	color: royalblue !important;
}


.commentTime {
	float: right;
	font-size: 0.8em;
	margin-right: 1em;
	vertical-align: middle;
	font-weight: 600;
}

.commentsBody {
	margin-left: 4.5em;
	font-family: Lotus;
	font-size: 1em;
}

.commentsFooter {
	margin-top: 1em;
	margin-left: 4.5em;
}

.commentsFooter span {
	display: inline-block;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

.commentsFooter span:hover {
	color: royalblue !important;
}

.replySpan {
	float: right;
	margin-right: 2em;
}

.dislikeSpan {
	margin-left: 1em;
}

	