<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matsk.mszdqabbs.DAO.EvaluateDAO">
    <insert id="like">
        INSERT INTO agreeornot(
        id,
        to_evaluate
        ,evaluate_type,
        agreeornot)
        VALUES(
        0,
        #{to_evaluate},
        #{evaluate_type},
        1
        )
    </insert>

    <insert id="dislike">
        INSERT INTO agreeornot(
        id,
        to_evaluate
        ,evaluate_type,
        agreeornot)
        VALUES(
        0,
        #{to_evaluate},
        #{evaluate_type},
        0
        )
    </insert>
</mapper>